@import url('https://fonts.googleapis.com/css?family=Roboto|Work+Sans&display=swap');
.column {
	float: left;
}
.column.left {
    width: 75%;
}
.column.right {
    width: 25%;
}
@media screen and (max-width: 600px) {
	.column.left, .column.right {
		width: 100%;
	}
}

.header {
    overflow: hidden;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: Medium;
	font-size: 20px;
    padding: 5px;
    padding-left: 20px;
	background-color: #ffffff;
	text-align: left;
    color: #000000;
    
}
.title {
    overflow: hidden;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: Medium;
	font-size: 25px;
    padding: 30px;
	text-align: center;
    color: #ffffff;
}
.strip {
    overflow: hidden;
    margin: 0px;
    padding: 30px;
    color: #000000;
    background-color: #ffffff;
}


h3 {
    font-family: 'Work Sans', sans-serif;
	font-size: 30;
	color: #ffffff;
}
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: url(header-image.jpg);
    opacity: ;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 10;
	color: #000000;
}
.footer{
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
}