<!doctype html>
	<title>About CarboNo</title>
	<link rel="stylesheet" type="text/css" href="webpagestyle.css">
	<head><h1> Our Mission</h1>
	<Body>
		<p>Our goal is to assist you on tracking the amount of carbon emssion you produce 
		in everyday lives.<br> Through the usage of our website, you will be able to understand the composition of your daily carbon emission,
how  comparing to the average carbon emission of your region. </p>
		<h4>Who are we?</h4>
		The CarboNo Team: We are a group of computer science students from UC Santa Cruz, who are also interested in taking care of our planet.<br>
		We believe that knowing the degree of damage each one of us cause on our planet help raise our self-consciousness.
		
	</Body>
	</html>

