{% extends "base.html" %}
{% block head %}
{% endblock %}	
{% block content %}
<div class="title">
	<h1>About Us</h1>
</div>
<div class = "strip">
	<h2>Our Mission</h2>
	<p>Our goal is to assist you in tracking the amount of carbon emssions you produce 
	in your everyday lives. By using our website, we hope you will be able to understand the composition of your daily carbon emission
	 and how it compares to the average carbon emission of your region. By spreading more awareness, we hope to reduce humanity's carbon
	footprint, leading to a society that says NO to carbon -- CarboNo!</p>
	<h2>Who are we?</h2>
	<p>The CarboNo Team: We are a group of computer science students from UC Santa Cruz, who are also interested in taking care of our planet. 
	We believe that knowing the degree of damage each one of us causes to our planet helps raise our awareness.</p>
	<h2>This Project</h2>
	<p>This project was created during <a href = "https://www.cruzhacks.com/">CruzHacks 2020</a>, a hackathon located in Santa Cruz, California, 
		USA between 1/17/2020 and 1/19/2020. To see the creation process, source files, and collaborators, visit our 
		<a href="https://github.com/tonyma08/CarboNo">Github repository for this project</a>.
	</p>
</div>
{% endblock %}

