<!DOCTYPE html>
<html>
	<head>
		<title>CarboNo - Home</title>
		<script src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/homepagestyle.css">
	</head>
	
	<body>
		
		<div class = "header">
			<h2>CarboNo</h2>
		</div>
		
		<div class = "title">
		<h1>CarboNo Carbon Tracker</h1>
		<h2>A Simpler Way To Track Your Carbon Footprint</h2>
		<h2>Join the Movement</h2>
		</div>

		
		<div class = "footer">
			<p>Background Image by <a href= "https://unsplash.com/@whale">Matthew Smith</a> on Unsplash</p>
			<p>Made at CruzHacks 2020</p>
			<p>&copy; Copyright 2020 by The CarboNo Team. All Rights Reserved.</p>
		</div>8

	</body>

</html>