<!DOCTYPE html>
<html>
	<head>
		<title>CarboNo - View Your Data</title>
		<script src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="homepagestyle.css">
	</head>
	
	<body>
		
		<div class = "header">
			<h2>CarboNo</h2>
		</div>
        <div class = "title">
            <h1>View Your Data</h1>
		</div>
        <div class = "strip">
        <div class = "column left">
            <h2>Your Carbon Emissions</h2>
                <form>
                    For The Period From: 
                    <input type="date" name="start-day">
                    To:
                    <input type="date" name="end-day">
                </form>
            </div>
        
    
            <div class = "column right">
                <h2>Your Daily Tip For Saving the World</h2>
            <div class="daily-tip"></div>
            </div>
        </div>
            <div class = "footer">
                <p>Background Image by <a href= "https://unsplash.com/@whale">Matthew Smith</a> on Unsplash</p>
                <p>Made at CruzHacks 2020</p>
                <p>&copy; Copyright 2020 by The CarboNo Team. All Rights Reserved.</p>
            </div>
        </body>

        </html>       