{% extends "base.html" %}
{% block head %}
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/viewdata.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/buttonstyle.css') }}">
{% endblock %}	
	
{% block content %}
    <div class="title">
        <h1>View Your Data</h1>
	</div>
        <div class = "strip">
        <div class = "column left">
            <h2>Your Carbon Emissions</h2>
                <form>
                    For The Period From: 
                    <input type="date" name="start-day">
                    To:
                    <input type="date" name="end-day">
                    <input type= "submit">
                </form>
            </div>
        
    
            <div class = "column right">
                <h2>Your Tip For Saving the World</h2>
            <div class="tip">
                <div class="tip-title"></div>
                <div class="tip-text"></div>
            </div>
            </div>
        </div>
{% endblock %}