.button, input[type="submit"]{
    background-color: green;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}
.button:hover, input[type="submit"]:hover{
    background-color: darkgreen;
    color: white;
}