@import url('https://fonts.googleapis.com/css?family=Roboto|Work+Sans&display=swap');

.header {
    overflow: hidden;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: Medium;
	font-size: 20px;
    padding: 16px;
	background-color: #222222;
	text-align: left;
    color: #ffffff;
    
}

.page_title {
	float: left;
}

.navbar {
	list-style-type: none;
	float: right;
	margin: 0;
}
.header a, .navbar a {
	color: #ffffff;
	text-decoration: none;
}

.navbar li {
	display: inline-block;
	padding: 0 16px;
}