/* Header Link Style */

.title {
    overflow: hidden;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: Medium;
	font-size: 25px;
    padding: 30px;
	text-align: center;
    color: #ffffff;
}
.strip {
    overflow: hidden;
    margin: 0px;
    padding: 30px;
    color: #000000;
    background-color: #ffffff;
}


h3 {
    font-family: 'Work Sans', sans-serif;
	font-size: 30;
	color: #ffffff;
}
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: url("/static/header-image.jpg");
    background-size: cover
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 10;
	color: #000000;
}
.footer{
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
}