.column {
	float: left;
}
.column.left {
    width: 66%;
}
.column.right {
    width: 34%;
}
@media screen and (max-width: 768px) {
	.column.left, .column.right {
		width: 100%;
	}
}

.tip-title {
    font-size: 20px;
    margin-bottom: 8px;
}