{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/buttonstyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/textboxstyle.css') }}">
{% endblock %}	
{% block content %}
<div class="title">
    <h1>Register</h1>
</div>
<div class = "strip">
    <div class = "stripcentered">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
</div>
{% endblock %}