{% extends "base.html" %}
{% block head %}
	<script src="{{ url_for('static', filename='js/submit.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/buttonstyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/submit.css') }}">
{% endblock %}	
	
{% block content %}
<div class="title">
    <h1>Add Data Points</h1>
</div>
<div class="strip">
    <h2>What type of carbon emission would you like to add?</h2>
    <form action="" class="emission-type">
        <label><input type="radio" name="emission-type" value="travel">Travel<br></label>
        <label><input type="radio" name="emission-type" value="electricity">Electricity bill<br></label>
    </form>
    <div class="submission-form1 submission-travel">
        <h2>When was it?</h2>
        <form action=""><input type="date" name="travel-date"></form>
        <h2>How did you travel?</h2>
        <form action="" class="travel-type">
            <label><input type="radio" name="travel-type" value="car">Car<br></label>
            <label><input type="radio" name="travel-type" value="bus">Bus<br></label>
            <label><input type="radio" name="travel-type" value="train">Train<br></label>
            <label><input type="radio" name="travel-type" value="motorcycle">Motorcycle<br></label>
            <label><input type="radio" name="travel-type" value="walking">Walking<br></label>
            <label><input type="radio" name="travel-type" value="bike">Bike<br></label>
            <label><input type="radio" name="travel-type" value="airplane">Airplane<br></label>
            <label><input type="radio" name="travel-type" value="boat">Boat<br></label>            
        </form>
        <h2>How far did you travel?</h2>
        <form action="" class="travel-distance">
            <input type="number" min="0" name="travel-distance"> miles
        </form>
        <br>
        <form action="">
            <input type="button" value="Add trip" name="travel-submit">
        </form>
    </div>
    <div class="submission-form1 submission-electricity">
        <select>
            <option value="01" name="electricity-month">January</option>
            <option value="02" name="electricity-month">February</option>
            <option value="03" name="electricity-month">March</option>
            <option value="04" name="electricity-month">April</option>
            <option value="05" name="electricity-month">May</option>
            <option value="06" name="electricity-month">June</option>
            <option value="07" name="electricity-month">July</option>
            <option value="08" name="electricity-month">August</option>
            <option value="09" name="electricity-month">September</option>
            <option value="10" name="electricity-month">October</option>
            <option value="11" name="electricity-month">November</option>
            <option value="12" name="electricity-month">December</option>
        </select>
        <form action="" class="electricity-year">
            <input type="number" min="1" name="electricity-year">
        </form>
        <h2>How much electricity did you use this month?</h2>
        <form action="" class="electricity-amount">
            <input type="number" min="1" name="electricity-amount"> kWh
        </form>
        <br>
        <form action="">
            <input type="button" value="Add data" name="electricity-submit">
        </form>        
    </div>
</div>
{% endblock %}