{% extends "base.html" %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/viewdata.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/buttonstyle.css') }}">
{% endblock %}	
	
{% block content %}
    <div class="title">
        <h1>View Your Data</h1>
	</div>
        <div class = "strip">
        <div class = "column left">
            <h2>Your Carbon Emissions</h2>
                <form>
                    Choose a day to view your emissions for: 
                    <input type="date" name="day">
                    <input type="hidden" name="json">
                    <input type="submit">
                </form>
                <div class="chart-container">
                <canvas id="chart-compare" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('chart-compare').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['You', 'State average', 'National average'],
        datasets: [{
            label: 'Pounds of CO₂',
            data: [30, 51, 89],
            backgroundColor: [
                'rgba(27, 237, 24, 0.5)',
                'rgba(43, 63, 214, 0.5)',
                'rgba(255, 217, 0, 0.5)'
            ],
            borderColor: [
                'rgba(27, 237, 24, 1)',
                'rgba(43, 63, 214, 1)',
                'rgba(255, 217, 0, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
myChart.maintainAspectRatio = false;
myChart.canvas.parentNode.style.height = '400px';
myChart.canvas.parentNode.style.width = '400px';
</script>
            </div>
            <br><br>
                <div class="chart-container">
                <canvas id="chart-breakdown" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('chart-breakdown').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['You'],
        datasets: [{
            label: 'Travel',
            data: [30],
            backgroundColor: [
                'rgba(237, 162, 24, 0.5)',
            ],
            borderColor: [
                'rgba(237, 162, 24, 1)',
            ],
            borderWidth: 1
        },
        {
            label: 'Electricity',
            data: [30],
            backgroundColor: [
                'rgba(247, 244, 22, 0.5)',
            ],
            borderColor: [
                'rgba(247, 244, 22, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                stacked: true
            }]
        }
    }
});
myChart.maintainAspectRatio = false;
myChart.canvas.parentNode.style.height = '400px';
myChart.canvas.parentNode.style.width = '400px';
</script>
            </div>            
            </div>
        
    
            <div class = "column right">
                <h2>Tips To Help You Save the World</h2>
            <div class="tip">
                <div class="tip-title"></div>
                <div class="tip-text"></div>
                <div class="tip-credits">You can also read these tips on the <a href="https://archive.epa.gov/epa/climatechange/what-you-can-do-about-climate-change.html">EPA website.</a></div>
            </div>
            </div>
        </div>
{% endblock %}